pytest
python-dotenv
pandas
#numpy
scikit-learn
matplotlib
requests
imblearn
mlflow
seaborn
xgboost
joblib
imbalanced-learn
dvc
pandas
numpy>=1.22,<2.1
evidently==0.6.1
alibi-detect==0.11.4
scipy<1.11